
.recommend {
    margin: 100px 0;
}

.recommend .swiper-container {
    width: 100%;
    height: 485px;
}

.recommend .swiper-slide {
    height: 116px;
    width: auto;
    opacity: .5;
    transition: all .3s;
}

.recommend .swiper-slide img {
    width: auto;
}

.recommend .swiper-slide.swiper-slide-active {
    width: 100%;
    height: 100%;
    transform: scale(1.3);
    transition: all .3s;
    opacity: 1;
}

.recommend .swiper-slide.swiper-slide-active img {
    width: 100%;
    height: 100%;
}

