.banner {

}
.banner .swiper-pagination{
    bottom: 30px;
}
.banner .swiper-pagination .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: rgba(0,0,0,.2);
    border: 2px solid #ffffff;
    opacity: 1;
    outline: none;
    margin: 0 2px;
}
.banner .swiper-pagination .swiper-pagination-bullet-active {
    background: #003399;
}
